@define-mixin border $color {
  border: $border-thickness solid $color;
}

@define-mixin button $color {
  @mixin border $color;
  font-family: $primary-font;
  color: $color;
  padding: .75em 1.25em;
  border-radius: $border-radius;
  text-transform: uppercase;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: color .25s;
  text-decoration: none;
  &:hover {
      color: color($color lightness(+15%));
  }
}
