#splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash {
  &__tag {
    font-size: $large-font-size;
    margin: 1em auto;
  }

  &__social-buttons {
    a {
      display: inline-block;
      margin: 4px;
    }
  }
}
