$green: #bcbc0c;
$red: #6b0220;
$teal: #3f7a74;
$gray: #818181;
$dark-gray: #1a191f;
$black: #030303;
$purple: #4a3039;
$white: #fff;
$orange: #A51401;

$base-font-size: 16px;
$small-font-size: 14px;
$large-font-size: 20px;
$primary-font: Helvetica, arial, sans-serif;
$secondary-font: Helvetica, arial, sans-serif;

$border-thickness: 2px;
$border-radius: 4px;
$default-shadow: 0 0 4px rgba(0,0,0,0.2);
